cscope*
*~
.*.swp
vimtags
setproj
vimtagfile
dirtags
**/build
**/*~
**/*/*~
**/cscope*
**/*/cscope*
**/vimtagfile
**/*/vimtagfile
**/*/.*.swp
**/*/.gitignore
**/*.o
**/*.a
/application/Visual_Studio_Project/.vs
/application/Visual_Studio_Project/Debug
/application/Visual_Studio_Project/Release
/poky-glibc-x86_64-meta-toolchain-qt5-cortexa9t2hf-neon-tsimx6-toolchain-3.0.2.sh
/application/QT_Creator_Project/build-ACU_Application-TSIMX6-Debug
